.wiki-onboarding {
	position: fixed;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
}

.wiki-onboarding-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; 
	height: 100%; 
}

.wiki-onboarding-content {
	position: relative;
	display: flex;
    flex-direction: column;
	width: 800px;
	height: 90%;
	border-radius: 3px;
	color: var(--theme-page-text-color);
	background-color: var(--theme-page-background-color);
	border: 2px solid var(--theme-page-background-color--secondary);
}

.wiki-onboarding-content::after {
    content: '';
    position: absolute;
    background: url(https://static.wikia.nocookie.net/backrooms/images/a/a1/Sd-hexagon.png) center/25% no-repeat;
    opacity: 0.25;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.wiki-onboarding-header {
    position: absolute;
    background-color: var(--theme-page-background-color--secondary);
    width: 50%;
    height: fit-content;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    padding: 5px;
    z-index: 2;
    top: -20px;
    text-align: center;
    box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.25);
    border: solid 2px var(--theme-sticky-nav-background-color);
}

.wiki-onboarding-header::before {
    content: '» ';
}

.wiki-onboarding-header::after {
    content: ' «';
}

.wiki-onboarding-text {
    padding: 24px 36px;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
}

.wiki-onboarding-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: var(--theme-page-background-color--secondary);
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border: solid 2px var(--theme-sticky-nav-background-color);
}

.wiki-onboarding-title:before {
	content: '» ';
}

.wiki-onboarding-title {
	font-weight: bold;
	font-style: italic;
}

.wiki-onboarding-continue {
	color: var(--theme-link-color);
	background-color: transparent;
	border: 0;
	transition: 0.3s color, text-shadow, text-decoration;
	font-size: 15px;
}

.wiki-onboarding-continue:hover {
	cursor: pointer;
	color: #3A3A3A;
	text-shadow: 1px 1px 0 #7A7A7A;
	text-decoration: underline;
}

